# Environment variables
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key

DB_HOST = "localhost"
DB_PORT = "5432"
DB_NAME = "main_db"
DB_USER = "replicator_user"
DB_PASSWORD = "your_password"
